#### syntax:
- def FunctionName(arguments):
    - statements
    - return

In [2]:
# input: 1234
# output: 6(2+4)
def EvenDigitSum(n):
    s=0
    while n!=0:
        r=n%10
        if r%2==0:
            s=s+r
        n=n//10
    print(s)
    
EvenDigitSum(1234)

6

In [5]:
#### 19535
# output: 9(print largest digit from the given number)
def LargeNumber(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large
l= LargeNumber(19535)
l

9

In [6]:
l

9

#### factorial of a number
#### strong number:145=1!+4!+5!
#### palindrome

collection type
- 1.list
- 2.tuple
- 3.set
- 4.dictionary

#### List
- one of ds n python
- listis enclosed in []
- elements in list are seperated by ,

In [12]:
l = [1,5,6,3,2]
print(l[0])
print(l[1])
print(l[2])
print(l[3])

1
5
6
3

In [14]:
list1=[1,1.2,'abc']
print(list1)
type(list1)

[1, 1.2, 'abc']

list

In [31]:
l=[1,5,6,3,2]   #the negative sign indication starts from the last element eg:-1=2,-2=3,-3=6
print(l[-1])   #indexing
print(l[-3]) 
print(l[2:4])   #accessing elements from index2 and index3
print(l[0:3])   #colon(:) is used to seperate the range
print(l[0:4:2])
print(l[0:-2])
print(l[-1:])
print(l[-3:])
print(l[-3])   #a specific value is printed
print(l[-3:-1])  #the range is printed range between -3 and -1 is -3,-2,-1 where it only considers -3 and -2
print(l[::1])
print(l[::2])   #slicing values

2
6
[6, 3]
[1, 5, 6]
[1, 6]
[1, 5, 6]
[2]
[6, 3, 2]
6
[6, 3]
[1, 5, 6, 3, 2]
[1, 6, 2]

In [44]:
## basic function of list:
l=[1,5,6,3,2]
print(max(l))
print(min(l))
print(sum(l))
print(len(l))
print(sum(l)/len(l))

6
1
17
5
3.4

In [41]:
l=[1,2,3,4,5,6,7,8,9]
print(l[::5])

[1, 6]

In [50]:
l=[1,5,6,3,2]
l[0]="python"
l

['python', 5, 6, 3, 2]

In [51]:
l[4]='GITAM'
l

['python', 5, 6, 3, 'GITAM']

In [52]:
del l[4]
l

['python', 5, 6, 3]

In [54]:
l1=[3,5,9,10,34]
l1

[3, 5, 9, 10, 34]

In [57]:
del l1
l1

NameError: name 'l1' is not defined

In [60]:
## Basic list operations:
l=[2,6,4,5]
print(l*2)  #repetition operator
print(2 in l)
print(9 in l)  #checking whether the given number is in given list or not

[2, 6, 4, 5, 2, 6, 4, 5]
True
False

In [62]:
#To access the elements through iterations
print(l)
for i in l:
    print(i)

[2, 6, 4, 5]
2
6
4
5

In [71]:
for i in [2,45,6,7,50]:
    print(i)

2
45
6
7
50

In [73]:
range (len(l))

range(0, 4)

In [75]:
for i in range(len(l)):
    print(l[i])

2
6
4
5

In [76]:
# list methods
print(l)

[2, 6, 4, 5]

In [77]:
l.append("python")   #adds the element to the end of the list
l

[2, 6, 4, 5, 'python']

In [78]:
l.insert(1,"GITAM")  #inserts the value at the given index
l

[2, 'GITAM', 6, 4, 5, 'python']

In [79]:
l.count(5)   #returns the count of the value

1

In [81]:
print(l)
l.index("GITAM")  #displays the index value where the gitam is been given

[2, 'GITAM', 6, 4, 5, 'python']

1

In [82]:
l.pop()  #removes the last item from the list
l

[2, 'GITAM', 6, 4, 5]

In [83]:
l.pop(1)   #removes the specific index value mentioned in the list
l

[2, 6, 4, 5]

In [88]:
print(l)
li=['abc','gitam']
print(li)
l.extend(li)  #keyword used to concatenate two listss
l

[2, 6, 4, 5]
['abc', 'gitam']

[2, 6, 4, 5, 'abc', 'gitam']

In [89]:
l=[1,2,3,4,5,87,32,76,54,9]
l.sort()  #arrage the numbers in the list in asscending order
print(l)

[1, 2, 3, 4, 5, 9, 32, 54, 76, 87]

In [90]:
l.reverse()  #the order of the list which is already sorted before will print in reverse order
l

[87, 76, 54, 32, 9, 5, 4, 3, 2, 1]

In [93]:
# function to print the biggest number from the list

list1=[1,45,32,56,39]
print(max(list1))

56

In [95]:
def largenumber(l):
    l.sort()
    return l[-1]
list1=[1,45,32,56,39]
largenumber(list1)

56

In [97]:
def largenumber(l,n):
    l.sort()
    return l[n]
list1=[1,45,32,56,39]
largenumber(list1,-3)

39

In [98]:
list1=[1,45,32,56,39]
print(min(list1))

1

## Tuples:
- tuples are enclosed in parantesis()
- tuples are immutable i.e.,elements inside cannot be changed,or deleted
- modificaions are not possible in tuple
- tupes are only used to access the data

## Differences between list and tuples:
- list--->[], Tuples--->()
- list is mutable(changes can  be made),Tuple is immutable(changes can be made)

In [99]:
t1=(1,6.45,"python")
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [100]:
t1[0:2]

(1, 6.45)

## Dictionary:
- Dictionary are enclosed in{}
- It consists of key value pairs
- Each key is seperate to its value by colon(:)
- Each keyvalue pair is seperated with other pairs by comma(,)
- Keys must be unique while creating any dictionary

In [101]:
d1={"Name":"GITAM","Email-id":"gitam@mail.com","Address":"Hyderabad"}
print(d1)
print(type(d1))

{'Name': 'GITAM', 'Email-id': 'gitam@mail.com', 'Address': 'Hyderabad'}
<class 'dict'>

In [103]:
d1["Name"]

'GITAM'

In [105]:
d1["Email-id"]="python@gmail.com"
d1

{'Name': 'GITAM', 'Email-id': 'python@gmail.com', 'Address': 'Hyderabad'}

In [106]:
d1["course"]="python"
d1

{'Name': 'GITAM',
 'Email-id': 'python@gmail.com',
 'Address': 'Hyderabad',
 'course': 'python'}

In [107]:
del d1["course"]
d1

{'Name': 'GITAM', 'Email-id': 'python@gmail.com', 'Address': 'Hyderabad'}

In [108]:
d1.keys()   #returns the keys from dictionary

dict_keys(['Name', 'Email-id', 'Address'])

In [110]:
d1.values()  #returns the valuesfrom dictionary

dict_values(['GITAM', 'python@gmail.com', 'Hyderabad'])

In [113]:
d1['Name']='abc'

In [114]:
dict1={"Name":"GITAM","Email-id":"gitam@mail.com","Address":"Hyderabad","Name":'abc'}
dict1

{'Name': 'abc', 'Email-id': 'gitam@mail.com', 'Address': 'Hyderabad'}

###  strings:

In [120]:
s='python'
print(s[0])
print(s[0:4])
print(s[0:5:2])
print(s[0:-4])
print(s[-4::])
print(s[::-1])

p
pyth
pto
py
thon
nohtyp

###### function to check for palindrome of a string

In [121]:
s="malayalam"
print(s[::1])

malayalam

In [125]:
def palindrome(s):
    if s== s[::-1]:
        print("palindrome")
    else:
        print("Not a palindrome")
palindrome("malayalam")

palindrome

## String methods:
- join():Method to concatenate the strings

In [126]:
s
print(" ".join(s))

m a l a y a l a m

In [127]:
s1="pythonprogramming"
print(",".join(s1))

p,y,t,h,o,n,p,r,o,g,r,a,m,m,i,n,g

- split:

In [137]:
s3="python programming is easy to learn"
print(s3.split('a'))

['python progr', 'mming is e', 'sy to le', 'rn']

- replace:

In [138]:
s3
print(s3.replace("programming","Application"))

python Application is easy to learn